@model Lab1.Areas.Admin.Models.LoginModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@{

    ViewData["Title"] = "Profile";
    Layout = "_Layout1";
}
<h2>Profile</h2>
<div>
    <p> Welcome To Admin Profile </p>
</div>