@model Lab1.Areas.Admin.Models.LoginModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, AuthoringTagHelpers
@{
    ViewData["Title"] = "User Profile";
    Layout = "_Layout2";
}

<h2>User Profile</h2>
<div>
    <p> Welcome To User Profile </p>
</div>

